@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: whitesmoke;
}

.board-card {
  background-color: rgb(222, 236, 248);
  border: solid 2px gray;
}

.pins {
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
}
